# IntelliJ
.idea
*.iml

# Byte-compiled / optimized
__pycache__/
*.py[cod]
build/
/venv

# Distribution
/dist
/pypowsybl.egg-info

# Documentation
/docs/_build

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#build
build/*
.idea/*
*.iml
.vscode

*.orig

# notebooks
notebooks/.ipynb_checkpoints

# benchmarks
benchmarks/results
benchmarks/html
benchmarks/env
benchmarks/_asv_compare.conf.json
benchmarks/results
