# actual dependencies
pandas==2.0.3
prettytable==2.0.0
networkx
matplotlib

# documentation dependencies
sphinx==4.2.0
pydata-sphinx-theme==0.6.3

# CI dependencies
wheel==0.38.1
coverage==5.5
pytest>=6.2.5
mypy==0.982
pandas-stubs==1.2.0.47
pylint==2.17.2
