# actual dependencies
pandas==2.2.3; python_version >= "3.9"
pandas==2.0.3; python_version <= "3.8"
prettytable==3.11.0 # last version supporting python 3.8
networkx
matplotlib==3.9.2; python_version >= "3.9"
matplotlib==3.7.5; python_version <= "3.8"

# optional dependencies
pandapower==2.14.11

# documentation dependencies
sphinx==7.1.2
furo==2024.1.29

# CI dependencies
build
coverage==7.3.2
pytest>=8.3.3
mypy==0.982
pandas-stubs==2.2.2.240603; python_version >= "3.9"
pandas-stubs==2.0.3.230814; python_version <= "3.8"
pylint==3.2.0
