name: CI

on: [push]

jobs:
  manylinux_build:
    name: Build linux ${{ matrix.python.name }} wheel
    runs-on: ubuntu-latest
    container: quay.io/pypa/manylinux2014_x86_64
    strategy:
      matrix:
        python:
          - {
            name: cp37,
            abi: cp37m,
            version: '3.7',
          }
          - {
            name: cp38,
            abi: cp38m,
            version: '3.8',
          }
          - {
            name: cp39,
            abi: cp39m,
            version: '3.9',
          }

    steps:
      - name: Install Linux packages
        run: yum install -y maven zlib-devel.x86_64

      - name: Checkout sources
        uses: actions/checkout@v1
        with:
          submodules: true

      - name: Setup GraalVM
        uses: ayltai/setup-graalvm@v1
        with:
          java-version: 11
          graalvm-version: 20.3.0
          native-image: true

      - name: Build wheel
        run: /opt/python/${{ matrix.python.name }}-${{ matrix.python.abi }}/bin/python3 setup.py bdist_wheel

      - name: Install wheel
        shell: bash
        run: /opt/python/${{ matrix.python.name }}-${{ matrix.python.abi }}/bin/pip3 install dist/*.whl --user

      - name: Run tests
        run: /opt/python/${{ matrix.python.name }}-${{ matrix.python.abi }}/bin/python3 -m unittest tests/test.py

      - name: Upload wheel
        uses: actions/upload-artifact@v2
        with:
          name: gridpy-wheel-linux-${{ matrix.python.name }}
          path: dist/*.whl

  macos_windows_build:
    name: Build ${{ matrix.config.name }} ${{ matrix.python.name }} wheel
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - {
            name: darwin,
            os: macos-latest,
          }
          - {
            name: windows,
            os: windows-latest,
          }
        python:
          - {
            name: cp37,
            version: '3.7',
          }
          - {
            name: cp38,
            version: '3.8',
          }
          - {
            name: cp39,
            version: '3.9',
          }

    steps:
      - name: Checkout sources
        uses: actions/checkout@v1
        with:
          submodules: true

      - name: Setup GraalVM
        uses: ayltai/setup-graalvm@v1
        with:
          java-version: 11
          graalvm-version: 20.3.0
          native-image: true

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python.version }}

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel

      - name: Build wheel
        run: python setup.py bdist_wheel

      - name: Install wheel
        shell: bash
        run: python -m pip install dist/*.whl --user

      - name: Run tests
        run: python -m unittest tests/test.py

      - name: Upload wheel
        uses: actions/upload-artifact@v2
        with:
          name: gridpy-wheel-${{ matrix.config.name }}-${{ matrix.python.name }}
          path: dist/*.whl

  package:
    name: Package wheels
    runs-on: ubuntu-latest
    needs: [manylinux_build, macos_windows_build]

    steps:
      - name: Download wheels
        uses: actions/download-artifact@v2
        with:
          path: download

      - name: Upload wheels
        uses: actions/upload-artifact@v2
        with:
          name: gridpy-wheels
          path: download/**/*.whl
